---
import { getI18N } from "@/i18n";

import Experience from "./sections/Experience.astro";
import SectionConteiner from "./SectionConteiner.astro";
import Hero from "./sections/Hero.astro";
import TitleSection from "./TitleSection.astro";
import About from "./sections/About.astro";
import Project from "./sections/Project.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<main class="container mx-auto min-h-screen">
  <div class="min-h-screen justify-center items-center flex flex-col">
    <SectionConteiner id="inicio" class="pb-14">
      <Hero />
    </SectionConteiner>
    <SectionConteiner id="inicio">
      <TitleSection title={i18n.EXPERIENCE.TITLE} class="pb-2" />
      <Experience />
    </SectionConteiner>
  </div>
  <SectionConteiner id="proyecto" class="pb-14">
    <div class="flex flex-col justify-center items-center mb-2">
      <span class="px-2 py-0.5 rounded-lg bg-secondary-foreground">
        <TitleSection title={i18n.PROJECTS.TITLE} class="p-0" />
      </span>
    </div>
    <Project />
  </SectionConteiner>
  <SectionConteiner id="sobre-mi" class="pb-14">
    <TitleSection title={i18n.ABOUT.TITLE} class="pb-2" />
    <About />
  </SectionConteiner>
  <SectionConteiner id="contacto" class="pb-16">
    <div class="flex flex-col justify-center items-center">
      <span class="px-2 py-0.5 rounded-lg bg-secondary-foreground">
        <TitleSection title="Contacto" class="pb-0" />
      </span>
      <h2
        class="text-3xl font-bold tracking-tighter sm:text-5xl mt-2 text-primary"
      >
        Get in Touch
      </h2>
      <p
        class="mx-auto max-w-[600px] text-muted-foreground md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
      >
        Want to chat? Just shoot me a dm
        <a
          class="text-blue-500 hover:underline"
          href="https://dub.sh/dillion-twitter"
        >
          with a direct question on twitter
        </a>
        and I'll respond whenever I can. I will ignore all soliciting.
      </p>
    </div>
  </SectionConteiner>
</main>
