---
import { getI18N } from "@/i18n";

import Experience from "./sections/Experience.astro";
import SectionConteiner from "./SectionConteiner.astro";
import Hero from "./sections/Hero.astro";
import TitleSection from "./TitleSection.astro";
import About from "./sections/About.astro";
import Project from "./sections/Project.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<main class="container mx-auto min-h-screen">
  <div class="min-h-screen justify-center items-center flex flex-col">
    <SectionConteiner id="inicio" class="pb-14">
      <Hero />
    </SectionConteiner>
    <SectionConteiner id="inicio">
      <TitleSection title={i18n.EXPERIENCE.TITLE} class="pb-2" />
      <Experience />
    </SectionConteiner>
  </div>
</main>
