---
const year = new Date().getFullYear();
---

<footer id="footer" class="w-full m-4 max-w-3xl mx-auto">
  <div
    class="flex justify-center items-center sm:flex-row flex-col space-y-4 sm:space-y-0"
  >
    <a
      aria-label="inicio"
      href="/#inicio"
      class="text-2xl font-bold flex items-center md:justify-start justify-center"
    >
      stvn
    </a>
    <p
      class="text-sm text-muted-foreground sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-muted sm:py-2 sm:mt-0"
    >
      &copy; {year}. Steven Villarreal —
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/JS-VILLARREAL"
        class="text-muted-foreground ml-1"
      >
        @JS-VILLARREAL
      </a>
    </p>
  </div>
</footer>
