---
interface Props {
  id: string;
  class?: string;
}

const { class: className, id } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class=`section w-4/5 lg:max-w-3xl mx-auto container scroll-m-20 ${className}`
>
  <slot />
</section>
