---
interface Props {
  title: string;
  class: string;
}

const { title, class: className } = Astro.props;
---

<h2
  class=`text-xl font-black ai-gradient-text text-transparent bg-clip-text inline-flex ${className}`
>
  {title}
</h2>
